h3{
 --color: red !important;
}

h2{
 --color: green !important;
}

h1{
 --color: blue !important;
}

h2[expand="true"] + section{
	display:block !important;
}

h2[expand="false"] + section{
	display:none !important;
}
