h3{
 --color: red !important;
}

h2{
 --color: green !important;
}

h1{
 --color: blue !important;
}

h2[expand="true"] + section,
xx[open-block]{
	display:block !important;
}
h2[expand]:after{
  --content: attr(expand);
}
